@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kufam:ital,wght@1,900&family=Lemonada:wght@700&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kufam:ital,wght@1,900&family=Lemonada:wght@700&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Rajdhani:wght@500&family=Russo+One&display=swap");

* {
  padding: 0;
  margin: 0;
}
section {
  padding: 55px 40px;
  background-image: url(images/bg-header-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Landing page start */
.Header h1,
p,
.buttons {
  text-align: center;
  padding: 10px 0px;
  font-family: Rajdhani;
}
.main-landing .main-icon {
  text-align: center;
}
.Header h1 {
  font-size: 30px;
}
.Header p {
  font-size: 18px;
}
.buttons span {
  font-size: 20px;
  margin: 0px 50px;
  color: white;
}
.buttons div {
  display: inline-block;
  margin: 0px 30px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  transition: 1s ease;
}
.buttons div.ios-button:hover {
  background-color: #00ff66;
  box-shadow: 1px 10px 10px #797979;
}
.buttons div.MAC-button:hover {
  background-color: blue;
  box-shadow: 1px 10px 10px #797979;
}
.buttons .ios-button {
  background-color: #1eb82b;
  height: 50px;
}
.buttons .MAC-button {
  background-color: #5500ff;
  height: 50px;
}
.buttons span {
  display: inline-block;
  padding: 7% 0px;
}
.Two-landing {
  margin: 100px 0px;
}
.seconde {
  margin-top: 100px;
}
.Device {
  display: flex;
}
/* Landing page End */
.New-sec .device-img {
  padding: 50px 20%;
}
.third {
  margin: 150px 0px;
}
.Device .device-img img {
  height: 400px;
}
.third .DeviceI img {
  height: 400px;
  margin-left: 335px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}
.brands {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 0;
}
.brands .brand img {
  width: 90%;
  margin: auto;
}

.install .small-container {
  padding: 3em 0 9em;
  max-width: 750px;
}
.para h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
.para p {
  margin: 1em auto 2em;
  line-height: 1.4em;
  font-size: 1.2rem;
}
footer {
  background-color: #f5f6f8;
  padding: 2.7em 0;
}
footer .container {
  display: flex;
  align-items: center;
}
.footer-logo {
  flex: 0 0 18%;
}
.social-icons {
  flex: 0 0 14%;
}
.footer-logo img {
  width: 60px;
}
.footer-menu {
  flex: 1;
  display: flex;
}
.f-menu {
  width: 25%;
}
.f-menu a {
  display: block;
  line-height: 2em;
  text-decoration: none;
  color: #000;
}

.social-icons a {
  display: block;
  float: right;
  width: 33.33%;
  text-align: right;
}
.social-icons i:hover {
  color: hsl(171, 66%, 44%);
}
.f-menu a:hover {
  color: hsl(171, 66%, 44%);
}
.attribution {
  width: 80%;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 12px;
}

/* Media Queries */
@media screen and (max-width: 920px) {
  .accessibility img {
    width: 60%;
    margin: auto;
  }
  .lower {
    align-items: center;
  }
  .lower-left img {
    height: 200%;
  }
  .feature-container {
    margin-left: 8%;
    width: 70%;
  }
}

@media screen and (max-width: 760px) {
  body {
    font-size: 17px;
  }
  .container,
  .small-container,
  .install .small-container,
  .tools h3,
  .tools > p {
    max-width: 80%;
    margin: auto;
  }
  .lower {
    flex-direction: column;
    text-align: center;
  }
  .lower {
    display: flex;
  }
  .lower-left img {
    width: 60%;
    margin-bottom: 2em;
  }
  .feature-container {
    width: 60%;
    margin: auto;
  }
  .feature {
    margin-bottom: 1.1em;
  }
  .tools > p {
    margin: 1.2em auto 3.8em;
  }
  .tools .container {
    flex-direction: column;
    width: 60%;
  }
  .tools :nth-child(2) img {
    margin-top: 4em;
  }
  .tools :nth-child(2) p {
    margin-bottom: 4em;
  }
  .social-icons {
    flex: 0 0 22%;
  }
  .footer-menu {
    flex: 1;
    justify-content: space-between;
  }
  .f-menu {
    width: 33%;
  }
}
@media screen and (max-width: 500px) {
  .para h2,
  .para h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .download_btn {
    display: block;
  }
  .download .one {
    margin-bottom: 1em;
  }
  .feature-container {
    width: 80%;
    margin: auto;
  }
  .tools .container {
    flex-direction: column;
    width: 70%;
  }
  .brands {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
  }
  .brands .brand img {
    width: 100%;
    margin: 1em auto;
  }
  footer .container {
    display: block;
    text-align: center;
  }
  .footer-menu {
    display: block;
    text-align: center;
  }
  .footer-menu {
    padding: 2em 0;
  }
  .f-menu {
    width: 100%;
  }
  .social-icons {
    display: flex;
    justify-content: center;
  }
  .social-icons a {
    display: block;
    float: none;
    flex: 0 0 20%;
    text-align: center;
  }
}
/* media quere */
@media screen and (max-width: 992px) {
  .Device .device-img img {
    height: 220px;
  }
  .Device {
    display: block;
  }
  .buttons .ios-button {
    margin: 20px 30px;
    height: 75px;
  }
  .buttons .MAC-button {
    height: 75px;
  }
  .third .DeviceI img {
    height: 200px;
    margin-left: -10px;
}
}

